<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 전화 기능이 없어도 설치 가능 -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!-- 네트워크/포그라운드 서비스 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- SMS/MMS 권한 -->
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH"/>
    <uses-permission android:name="android.permission.RECEIVE_MMS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 기본 문자앱만 효과 있음 -->
    <uses-permission android:name="android.permission.WRITE_SMS"/>

    <!-- (선택) 부팅 후 초기화 필요 시 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Android 8.0(API 26)+ 에서 번호 읽기용 -->
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
     >

        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.NewMessageActivity"
            android:exported="true">

        </activity>

        <receiver
            android:name=".sync.NotificationDismissReceiver"
            android:exported="false" />



        <activity
            android:name=".ui.MainActivity"
            android:exported="true" />

        <!-- 문자 작성/보기 -->
        <activity
            android:name=".ui.ComposeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sms"/>
                <data android:scheme="smsto"/>
                <data android:scheme="mms"/>
                <data android:scheme="mmsto"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sms"/>
                <data android:scheme="smsto"/>
                <data android:scheme="mms"/>
                <data android:scheme="mmsto"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ConversationListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android-dir/mms-sms"/>
            </intent-filter>
            <!-- 선택: content://mms-sms/conversations 라우트 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="content"/>
                <data android:host="mms-sms"/>
                <data android:pathPrefix="/conversations"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.QuickReplyActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sms"/>
                <data android:scheme="smsto"/>
                <data android:scheme="mms"/>
                <data android:scheme="mmsto"/>
            </intent-filter>
        </activity>

        <!-- SMS 수신: 기본 문자앱만 유효 -->
        <receiver
            android:name=".sms.SmsDeliverReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <!-- 신식 -->
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
            <!-- 구식 -->
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <service
            android:name=".mms.MmsDownloadService"
            android:exported="false" />



        <receiver
            android:name=".mms.MmsWapPushReceiver"
            android:exported="true"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>

        </receiver>



        <service
            android:name=".sync.SyncService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name=".sync.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>



        <!-- (선택) 부팅 후 초기화 -->
<!--        <receiver-->
<!--            android:name=".boot.BootReceiver"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED"/>-->
<!--                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <!-- 동기화/알림 등 -->
        <service
            android:name=".sync.SyncService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <service
            android:name=".sms.RespondViaMessageService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>


        <activity
            android:name=".ui.MessageDetailActivity"
            />

    </application>
</manifest>
